
  body {
    background: #f0f8ff;
    padding: 0; margin: 0;
  }
  * {
    outline: none;
  }
  br {
    display: block; /* makes it have a width */
    content: ""; /* clears default height */
    margin-top: 0; /* change this to whatever height you want it */
  }
  ::-webkit-scrollbar {
    width: 18px;
  } 
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
  } 
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
  }
  .muis:hover {
    cursor: pointer;
  }
  .cont {
  	position: absolute;
  	left: 0px; right: 0px; bottom: 0px; top: 0px;
  	margin: auto;
  }
  
  #graybg {
  	position: fixed;
  	left: 0px; right: 0px; bottom: 0px; top: 232px;
  	margin: auto;
  	background: #a0a0a0;
    opacity: 0.8;
    z-index: 50;
    visibility: hidden;
  }
  
  #refresh {
  	position: absolute;
  	left: 0; right: 0; bottom: 120px; top: 0;
  	margin: auto;
  	width: 450px; height: 160px;
  	border: 3px solid red;
  	padding: 10px;
  	padding-top: 60px;
  	background: black;
  	color: white;
  	font-family: Verdana;
  	font-size: 26px;
  	text-align: center;
  	z-index: 200;
  	visibility: hidden;
  }
  
  .centbox {
    position: fixed;
    top: 0; left: 0; bottom: 220px; right: 0;
    margin: auto;
  }
  .loginbox {  
    width: 450px;
    height: 170px;
    padding: 15px;
    overflow: none;
    border-radius: 15px;
    border: 1px ridge #4589a0;
    font-family: verdana;
    font-size: 20px;
    color: #004;
    box-shadow: 6px 6px 3px #888888;
    background: #f0f4ff;
    z-index: 100;
    visibility: hidden;
  }
  
  #newpassbox {
  	height: 190px;
  }
  .tmarg {
    margin-top: 20px;
  }
  .t {
    width: 95%;
  }
  .itext {
    text-align: right;
    padding-right: 7px;
    font-family: tahoma;
    font-size: 18px;
    color: #004;
  }
  .ival {
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    background: #f0fdff;
    color: #005;
    width: 100%;
    font-family: arial;
    font-size: 16px;
  }
  .tdr {
    text-align: right;
    padding-right: 10px;
    padding-top: 15px;
    width: 100%;
  }
  .sbut {
    width: 80px;
    text-align: center;
    margin-left: auto;
    border-style: outset;
    border-radius: 10px;
    border-width: 3px;
    border-color: #8090b0;
    color: #f0f3ff;
    background: #607090;
    font-family: verdana;
    font-weight: bold;
  }
  .cancbut {
  	width: 110px;
  }
  .errtxt {
    font-family: tahoma;
    font-size: 12px;
    color: #800;
    font-weight: bold;
  }
  
  #active {
  	position: fixed;
  	left: 0; top: 0; right: 0px; height: 215px;
   	margin: auto;
  	overflow: none;
  	background: #00b0ff;
  	color: black;
  	padding: 7px;
  	border: 3px ridge #205090;
  	font-size: 13px;
  	font-family: Verdana;
  }
  
  #powerbutton {
  	position: absolute;
  	right: 6px; top: 6px; width: 64px; height: 64px;
   	margin: auto;
  	overflow: hidden;
  	background: rgba(255,0,0,0.5);
  	color: black;
  	padding: 7px;
  	border: 3px ridge #205090;
    border-radius: 64px;
  }
  #powerimage {
  	position: relative;
   	margin: 0px;
  }
  
  #fcclogo {
    position: absolute;
    left: 24px; top: 115px; 
    height: 64px;
  }
  
  #activefront {
  	position: absolute;
    top: 96px; left: 6px; right: 6px; bottom: 32px;
   	margin: auto;
  	overflow: hidden;
  	background: rgba(255,255,255,0.7);
  	color: black;
  	padding: 7px;
  	border: 3px ridge #205090;
  	font-size: 13px;
  	font-family: Verdana;
    border-top-left-radius: 64px;
    border-bottom-left-radius: 64px;
  }
  
  #copywallet {
    position: absolute;
    right: 8px; top: 46px; height: 32px;
    visibility: hidden;
  }
  #wallet {
  	position: absolute;
  	left: 363px; top: 36px;
    right: 72px; bottom: 8px;
  	font-family: "Lucida Console";
  	font-size: 24px;
    line-height: 24px;
    font-weight: bolder;
  	color: #107020;
    word-break: break-all;
    overflow-y: hidden;
  }

  #balance {
    position: absolute;
    left: 80px;
    top: 33px;
    font-family: Arial;
    font-size: 27px;
    font-weight: bolder;
    color: #203090;
    text-shadow: 0px 0px 3px rgba(0,0,0,0.5);
  }

  #walnamediv {
    position: absolute;
    left: 363px;
    top: 11px;
    height: 20px;
    right: 72px;
    font-size: 17px;
  }
  #walname {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 20px;
    font-size: 17px;
    visibility: hidden;
  }

  #savewalbut {
  	position: absolute;
  	right: 8px;
    top: 8px;
    height: 32px;
  	visibility: hidden;
  }

  #fcc {
  	position: absolute;
  	left: 375px;
  	top: 26px;
  	height: 32px;
  	visibility: hidden;
  }
  #delwalbut {
  	position: absolute;
  	left: 245px;
  	width: 84px;
  	top: 4px;
  	font-size: 18px;
  	visibility: hidden;
  }
  #copied {
  	position: absolute;
  	left: 72px; top: 66px;
  	font-family: arial;
  	font-size: 16px;
  	font-weight: bold;
  	color: #004000;
  }


  #miner {
  	position: absolute;
    left: 6px; top: 6px; right: 96px; height: 82px;
   	margin: auto;
  	overflow: auto hidden;
  	padding: 0;
  	border: 3px ridge #205090;
  	background: rgba(255,255,255,0.7);
    border-top-left-radius: 64px;
    border-bottom-left-radius: 64px;
  }
  #startminer {
    position: absolute;
    left: 9px; top: 9px; height: 64px;
  }
  #stopminer {
    position: absolute;
    left: 9px; top: 9px; height: 64px;
    visibility: hidden;
  }
  #minecanv {
    position: absolute;
    left: 532px; top: 6px;
    right: 6px; bottom: 6px;
    border: 3px ridge #205090;
  }
  #minecanvas {
    position: absolute;
    left:0px; top:0px;
    width: 100%; height: 100%;
  }
  #minespeed {
    position: absolute;
    left:0px; top:0px;
    width: 100%; height: 100%;
    text-align: center;
    font-size: 15px;
    font-weight: bolder;
    color: white;
    line-height: 27px;
    text-shadow: 0px 0px 3px rgba(0,0,0,0.5);
  }

  #minewallet {
  	position: absolute;
  	left: 78px; top: 56px;
    right: 0px; height:22px;
    overflow: hidden;
  	font-family: Courier New;
  	font-size: 10px;
    line-height: 11px;
    font-weight: bolder;
    padding:3px;
  	color: #606030;
  }
  #minediff {
  	position: absolute;
  	left: 378px; top: 6px; width:134px; bottom: 23px;
    padding:1px 8px;
  	font-family: Courier New;
  	font-size: 9px;
    line-height: 10px;
    font-weight: bolder;
  	color: #606030;
    background:white;
    border: 1px solid black
  }
  #minewins {
  	position: absolute;
  	display: none;
  	right: 70px; bottom: 6px;
  	width: 150px; height: 40px;
  	font-size:10px;
    font-family: Courier New;
  	font-weight: bolder;
  	line-height:12px;
    text-align: right;
    color: white;
    text-shadow: 0px 0px 3px rgba(0,0,0,0.5);
  }
  #pickaxe {
  	position: absolute;
  	display: none;
  	right: 0px; top: 0px;
  	width: 64px; height: 64px;
  }
  #mineoutput {
  	position: absolute;
  	left: 80px; top: 6px; bottom: 23px; width: 288px;
  	margin: auto;
  	overflow: auto;
  	padding: 3px;
  	border: 1px black solid;
	  font-family: "Lucida Console";
  	font-size: 11px;
  	font-weight: bolder;
  	background: white;
  	color: #000020;  
  }


  #winleft {
  	position: fixed;
  	left: 0px; top: 204px; width: 490px; bottom: 0px;
   	margin: auto;
  	overflow: none;
  }
  
  #transwallets {
    left: 6px;
    width: 70px;
  }
  #transcontacts {
    left: 106px;
    width: 70px;
  }

  #create {
    left: 310px;
    width: 150px;
  }

  #passprotect {
    left: 230px;
    width: 130px;
  }

  #createatrans {
    left: 6px;
    width: 110px;
  }

  .abovebut {
    position: absolute;
    top: 0px;
    height: 22px;
    background: #b3b3b9;
    color: black;
    border-left: 1px solid #eeeeee;
    border-top: 1px solid #eeeeee;
    border-bottom: 2px solid #222222;
    border-right: 2px solid #222222;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
    font-family: Tahoma;
    text-align: center;
    text-shadow: -1px -1px white;
  }
  .belowbut {
    position: absolute;
    top: 167px;
    height: 22px;
    margin: auto;
    background: #b3b3b9;
    color: black;
    border-left: 1px solid #eeeeee;
    border-top: 1px solid #eeeeee;
    border-bottom: 2px solid #222222;
    border-right: 2px solid #222222;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 2px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
    font-family: Tahoma;
    text-align: center;
    text-shadow: -1px -1px white;
  }

  .bottombut {
    position: absolute;
    top: 172px;
    height: 22px;
    margin: auto;
    background: #b3b3b9;
    color: black;
    border-left: 1px solid #eeeeee;
    border-top: 1px solid #eeeeee;
    border-bottom: 2px solid #222222;
    border-right: 2px solid #222222;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
    font-family: Tahoma;
    text-align: center;
    text-shadow: -1px -1px white;
  }


  .selectbut {
    color: white;
    cursor: default;
    background: #205090;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.7);
  }

  #wallets {
  	position: absolute;
  	left: 0px; top: 28px; right: 0px; height: 120px;
   	margin: auto;
  	overflow: auto;
  	padding: 7px;
  	border: 3px ridge #205090;
  	background: white;
  	color: black;
  	font-size: 18px;
  	font-family: Verdana;
  }
  .space {
    width: 100%; height: 4px;
  }
  
  .rwal {
    position: relative;
    display: inline-block;
    width:100%;
    margin: 5px auto;
  }
  .iwal {
    position: absolute;
    left:0px; top:0px; right: 24px;
    font-family: "Lucida Console";
    font-size: 11px;
    line-height: 9px;
    font-weight: bolder;
    color: #2060a0;
    background: #cceeff;
    padding: 4px;
    border: 1px solid #000080;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: clip;
  }
  .cwal {
    position: absolute;
    top: 0px; right:0px; width: 16px;
  }


  #trans {
    position: absolute;
    left: 0px; top: 197px; bottom: 0px; right: 0px;
    margin: auto;
    margin-top: 3px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 7px;
    border: 3px ridge #205090;
    background: white;
    color: black;
    font-size: 18px;
    font-family: Verdana;
  }


  #transbox {
  	position: absolute;
  	top: 3px; left: 6px; right: 6px;
    min-height: 420px; bottom: 6px;
  	background: #f0f0f0;
  }
  .tfnt {
  	position: absolute;
  	width: 80px;
  	text-align: left;
  	font-family: verdana;
  	font-size: 13px;
    font-weight: bolder;
  	color: black;
  }
  .tafnt {
  	position: absolute;
  	font-family: verdana;
  	font-size: 18px;
  	color: black;
  }
  #from {
  	position: absolute;
  	top: 18px; left: 5px;
  	font-family: "Lucida Console";
  	font-size: 11px;
  	color: #000080;  	
  }
  #amount {
  	position: absolute;
  	top: 60px; left: 5px;
  	width: 120px;
  	font-family: "Lucida Console";
  	padding: 3px;
  	font-size: 18px;
  	color: #000040;
  	border: 1px blue solid;
  }
  #fee {
  	position: absolute;
  	top: 60px; left: 140px;
  	width: 50px;
  	font-family: "Lucida Console";
  	padding: 3px;
  	font-size: 18px;
  	color: #000040;
  	border: 1px blue solid;
  }
  #to {
  	position: absolute;
  	top: 110px; left: 5px;
  	width: 420px;
  	font-family: "Lucida Console";
  	padding: 3px;
  	font-size: 16px;
  	color: black;
  	border: 1px blue solid;
  }
  #adrbook {
    position: absolute;
    top: 140px; left: 5px; width: 90px;
    height: 28px;
    background: #603000;
    font-family: Tahoma;
    font-size: 16px;
    color: white;
    padding-left: 3px;
  }
  #newadrbook {
  	position: absolute;
  	top: 140px; left: 95px;
  	width: 170px;
  	font-family: "Verdana";
  	padding: 3px;
  	font-size: 18px;
  	color: black;
  	border: 1px #603000 solid;
  }
  #saveadrbook {
    position: absolute;
    top: 136px; left: 270px;
  }
  #addtransbut {
    position: absolute;
    top: 140px; left: 310px;  width: 140px;
    font-size: 13px; padding:3px 5px;
    font-variant: small-caps;
  }
  #transerr {
    position: absolute;
    left: 5px; top: 174px;
    width: 470px;
    max-height: 32px;
    height:32px;
    overflow:none auto;
    font-family: Verdana;
    font-size: 16px;
    text-align: center;
    color: red;
    font-weight: bolder;
  }
  #transoutbox {
    position: absolute;
    left: 3px; top: 200px; right: 3px; min-height:48px; bottom: 70px;
    margin: auto;
    overflow: auto;
    background: #e0e0e0;
    padding: 3px;
  }
  #change {
  	position: absolute;
  	bottom: 40px; left: 105px; width: 330px;
  	height: 18px;
  	background: #003060;
  	font-family: Tahoma;
  	font-size: 12px;
  	color: white;
  	padding-left: 3px;  	
  }
  #transbut {
    position: absolute;
    right: 20px; bottom: 3px;
    font-size: 13px; padding:3px 10px;
    font-variant: small-caps;
  }

  .transoutitem {
  	position: relative;
  	left: 0; right: 0; height: 50px;
  	border-bottom: 1px solid #800000;
  	margin-bottom: 3px;
  }
  .walletout {
  	position: absolute;
  	left: 3px; top: 3px;
  	right: 10px; height: 18px;
  	white-space: nowrap; 
    overflow: hidden;
  	text-overflow: clip;
  	color: #600000;
  	font-family: "Lucida Console";
  	font-size: 13px;
  }
  .totalout {
  	position: absolute;
  	right: 10px; top: 30px;
    color: #a00000;
  	font-family: "Lucida Console";
  	font-size: 20px;
  }
  .amountout {
  	position: absolute;
  	left: 10px; top: 20px;
    color: #900000;
  	font-family: "Lucida Console";
  	font-size: 14px;
  }
  .feeout {
  	position: absolute;
  	left: 10px; top: 35px;
    color: #900000;
  	font-family: "Lucida Console";
  	font-size: 14px;
  }
  .delout {
  	position: absolute;
  	right: 3px; top: 3px;
  }
  #ttot {
  	position: absolute;
  	left: 12px; bottom: 4px;
  }
  #transtotal {
  	position: absolute;
  	left: 45px; bottom: 5px;
    color: #a00000;
  	font-family: "Lucida Console";
  	font-size: 20px;
  }
  #transconfirm {
  	position: absolute;
  	left: 150px; top: 100px; bottom: 250px; right: 150px;
  	background: #f0fff0;
  	border: 3px blue solid;
  	z-index: 50;
  	font-family: verdana;
  	font-size: 26px;
  	font-weight: bold;
  	color: #000030;
  	padding-left: 15px;
  	padding-top: 5px;
  	visibility: hidden;
  }
  .tctit {
  	position: absolute;
  	left: 30px; right: 30px;
  	border-bottom: 1px solid #000050;
  	font-family: verdana;
  	font-size: 22px;
  	color: #000090;
  }
  #tcfrom {
  	position: absolute;
  	left: 40px; top: 85px;
  	font-family: "Lucida Console";
  	font-size: 20px;
  	color: #000030;  	
  }
  #tcout {
  	position: absolute;
  	left: 40px; top: 165px; right: 30px; bottom: 220px;
  	font-family: "Lucida Console";
  	font-size: 14px;
  	color: #000030;
  	overflow: auto;
  	background: #e0ffe0;
  }
  .tcoutblock {
    position: relative;
    left: 0px; right: 0px; height: 40px;
  }
  .tcoutwal {
  	position: absolute;
  	left: 0px; top: 0px; right: 150px;
   	white-space: nowrap; 
    overflow: hidden;
    text-overflow: clip;
  }
  .tcoutamount {
  	position: absolute;
  	top: 0px; right: 0px;
  	color: #a00000;
  	font-size: 16px;
  }
  .tcoutfee {
  	position: absolute;
  	top: 22px; right: 0px;
  	color: #800000;
  	font-size: 12px;
  }
  #tcchange {
  	position: absolute;
  	bottom: 142px; left: 40px; right: 30px;
  	color: #000060;
  	font-size: 16px;
  }
  #tctotal {
  	position: absolute;
  	bottom: 75px; right: 30px;
  	color: #c00000;
  	font-size: 24px;
  }
  #tcok {
  	position: absolute;
  	bottom: 15px; right: 230px;
  	font-size: 22px;
  }
  #tccancel {
  	position: absolute;
  	bottom: 15px; right: 30px;
  	font-size: 22px;
  }



  #winright {
  	position: fixed;
  	left: 485px; top: 204px; right: 0px; bottom: 0px;
   	margin: auto;
  	overflow: none;
  }

  #openchat {
    position: absolute;
    left: 10px; top: 0px; width: 150px;
  }
  #chatauto {
    position: absolute;
    left: 17px; top: 6px;
  }
  #chatnick {
    position: absolute;
    left: 190px; top: 0px; width: 100px;
    cursor:text;
    background: white;
    color:black;
  }
  #identpass {
    position: absolute;
    left: 320px; top: 0px; width: 100px;
    cursor:text;
    background: white;
    color:black;
  }

  #chat {
  	position: absolute;
  	left: 3px; top: 28px; right: 0px; bottom: 78px;
   	margin: auto;
  	overflow: hidden;
  	padding: 0;
  	border: 3px ridge #205090;
  	background: white;
  }

  #status {
    position: absolute;
    left: 3px; bottom: 0px; right: 0px; height: 61px;
    margin: auto;
    overflow: auto;
    padding: 7px;
    border: 3px ridge #205090;
    background: white;
    color: black;
    font-size: 13px;
    font-family: "Lucida Console";
  }


  .selbut {
  	padding-left: 10px;
  	padding-right: 10px;
  	padding-top: 5px;
  	padding-bottom: 5px;
  	font-family: Verdana;
  	font-size: 24px;
  	font-weight: bold;
  	text-shadow: -1px -1px #ffffff;
  	text-align: center;
  	letter-spacing: 2px;  	
  }
  .greenbut {
  	border-left: 2px solid #aeeeae;
  	border-top: 2px solid #aeeeae;
  	border-bottom: 2px solid #002200;
  	border-right: 2px solid #002200;
  	border-radius: 12px;
  	color: #50c090;
  	background: #208030;
  }
  .redbut {
  	border-left: 2px solid #ffaeae;
  	border-top: 2px solid #ffaeae;
  	border-bottom: 2px solid #220000;
  	border-right: 2px solid #220000;
  	border-radius: 12px;
  	color: #c05090;
  	background: #802030;
  }
  .bluebut {
  	border-left: 2px solid #aeaeff;
  	border-top: 2px solid #aeaeff;
  	border-bottom: 2px solid #000022;
  	border-right: 2px solid #000022;
  	border-radius: 12px;
  	color: #5090c0;
  	background: #203080;
  }




  #editadrbook {
  	position: absolute;
  	left: 10px; top: 240px; bottom: 20px; right: 10px;
  	background: #f0fff0;
  	border: 3px blue solid;
  	z-index: 50;
  	font-family: verdana;
  	font-size: 26px;
  	font-weight: bold;
  	color: #000030;
  	padding-left: 15px;
  	padding-top: 5px;
  	visibility: hidden;
  }
  #ablist {
  	position: absolute;
  	left: 30px; right: 30px; top: 50px; bottom: 220px;
  	overflow: auto;
  }
  .abblock {
  	position: relative;
  	left: 0; right: 0; height: 48px;
  	margin-bottom: 8px;
  	background: #e0f0e0;
  }
  .abbwal {
  	position: absolute;
  	left: 0; top: 3px; right: 0;
  	font-family: "Lucida Console";
  	font-size: 13px;
  	color: #603000;
  }
  .abnc {
  	position: absolute;
  	left: 0; top: 18px; right: 100px;
  }
  .abbname {
  	position: absolute;
  	left: 0; top: 0; width: 100%;
  	font-family: "Lucida Console";
  	font-size: 16px;
  	padding: 3px;
  	color: #000000;
  	border: 1px solid #603000;
  }
  .abbsave {
  	position: absolute;
    right: 50px; top: 8px;
  }
  .abbdel {
  	position: absolute;
    right: 5px; top: 8px;
  }
  #nab {
  	position: absolute;
  	left: 180px; right: 140px; bottom: 90px;
  }
  #abnewwal {
  	position: absolute;
  	left: 0px; right: 0px; bottom: 42px;
  	width: 100%; height: 26px;
  	padding: 3px;
  	font-family: "Lucida Console";
  	font-size: 22px;
  	color: #000050;
  	border: 1px solid black;
  }
  #abnewname {
  	position: absolute;
  	left: 0px; right: 0px; bottom: 0px;
  	width: 100%; height: 26px;
  	padding: 3px;
  	font-family: "Lucida Console";
  	font-size: 22px;
  	color: #000050;
  	border: 1px solid black;
  }
  .eatit {
  	position: absolute;
  	left: 0; width: 170px;
  	text-align: right;
  	font-size: 16px;
  }
  #aeadd {
  	position: absolute;
  	right: 50px; bottom: 90px;
  	font-size: 18px;
  }
  #aeerr {
  	position: absolute;
  	left: 190px; bottom: 65px;
  	font-family: Verdana;
  	font-size: 16px;
  	color: red;
  	font-weight: bold;
  }
  #aeok {
  	position: absolute;
  	right: 30px; bottom: 15px;
  }


